@property --progress-value {
    syntax: '<integer>';
    inherits: true;
    initial-value: 0;
}


/* CARD */

.cardPB {
    background-color: var(--c-background-secondary, #fff);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05), 0 5px 15px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 380px;
}


/* HEADER */

.cardPB-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem 1.25rem 1rem 1.25rem;
}

.cardPB-header>div {
    display: flex;
    align-items: center;
}

.cardPB-header span {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.cardPB-header span img {
    max-width: 85%;
    max-height: 100%;
}

.cardPB-header h3 {
    margin-left: 0.75rem;
    font-weight: 500;
}


/* BODY */

.cardPB-body {
    padding: 1.25rem;
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}


/* LABEL + PB */

.pb-item label {
    font-weight: 500;
    display: block;
    margin-bottom: 0.3rem;
}


/* PROGRESSBAR SYSTEM */

:root {
    --progress-bar-color: #cfd8dc;
    --progress-value-color: #2196f3;
    --progress-empty-color-h: 4.1;
    --progress-empty-color-s: 89.6;
    --progress-empty-color-l: 58.4;
    --progress-filled-color-h: 122.4;
    --progress-filled-color-s: 39.4;
    --progress-filled-color-l: 49.2;
}

progress[value] {
    display: block;
    position: relative;
    appearance: none;
    width: 100%;
    height: 6px;
    border: 0;
    --border-radius: 10px;
    border-radius: var(--border-radius);
    counter-reset: progress var(--progress-value);
    --progress-value-string: counter(progress) '%';
    --progress-max-decimal: calc(var(--value, 0) / var(--max, 0));
    --progress-value-decimal: calc(var(--progress-value, 0) / var(--max, 0));
}

@supports selector(::-moz-progress-bar) {
    progress[value] {
        --progress-value-decimal: calc(var(--value, 0) / var(--max, 0));
    }
}

progress[value] {
    --progress-value-percent: calc(var(--progress-value-decimal) * 100%);
    --progress-value-color: hsl( calc((var(--progress-empty-color-h) + (var(--progress-filled-color-h) - var(--progress-empty-color-h)) * var(--progress-value-decimal)) * 1deg) calc((var(--progress-empty-color-s) + (var(--progress-filled-color-s) - var(--progress-empty-color-s)) * var(--progress-value-decimal)) * 1%) calc((var(--progress-empty-color-l) + (var(--progress-filled-color-l) - var(--progress-empty-color-l)) * var(--progress-value-decimal)) * 1%));
    animation: calc(3s * var(--progress-max-decimal)) linear 0.5s 1 normal both progress;
}

progress[value]::-webkit-progress-bar {
    background-color: var(--progress-bar-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}

progress[value]::-webkit-progress-value {
    width: var(--progress-value-percent) !important;
    background-color: var(--progress-value-color);
    border-radius: var(--border-radius);
}

progress[value]::-moz-progress-bar {
    width: var(--progress-value-percent) !important;
    background-color: var(--progress-value-color);
    border-radius: var(--border-radius);
}

progress[value]::after {
    display: flex;
    align-items: center;
    justify-content: center;
    --size: 32px;
    width: var(--size);
    height: var(--size);
    position: absolute;
    left: var(--progress-value-percent);
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--progress-value-color);
    border-radius: 50%;
    content: var(--progress-value-string, var(--value));
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}

@keyframes progress {
    from {
        --progress-value: 0;
    }
    to {
        --progress-value: var(--value);
    }
}